body {
  font-family: sans-serif;
  background-color: #f0f0f0;
  text-align: left;
  padding-top: 50px;
}
.logo-image {
  height: 1em;           
  max-width: 3em;        
  vertical-align: middle; 
}
